# Question_3 : 
Create Your own Jupyter notebook for Sets

In [5]:
ex_set = {'Yash','Nikhil','Mistry'}
print(ex_set)

{'Nikhil', 'Mistry', 'Yash'}

In [3]:
ex_set1 = {2,1,3,6}
print(ex_set1)

{1, 2, 3, 6}

In [7]:
# We can loop througth the set items using for loop
for item in ex_set:
    print(item)

Nikhil
Mistry
Yash

In [10]:
# Check if ipad present in set
'Nikhil' in ex_set

True

In [11]:
ex_set.add("ipad")
ex_set

{'Mistry', 'Nikhil', 'Yash', 'ipad'}

In [12]:
ex_set.update(["HeadPhones",'HDM1'])
ex_set

{'HDM1', 'HeadPhones', 'Mistry', 'Nikhil', 'Yash', 'ipad'}

In [13]:
len(ex_set)

6

In [14]:
ex_set.remove("HDM1")
ex_set

{'HeadPhones', 'Mistry', 'Nikhil', 'Yash', 'ipad'}

In [15]:
ex_set.pop()

'ipad'

In [16]:
ex_set.clear()

In [17]:
ex_set

set()

In [18]:
set1 = {1,2,3,4,5}

set2 = {'a','b','c','d','e'}

s = set1.union(set2)

s

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e'}

In [19]:
set1.update(set2)
set1

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e'}